VITE_JKOS_AUTH_URL=https://auth.jkos.net
VITE_APP_ORIGIN=https://jkos.net
VITE_PLUGIN_BASE_URL=https://jkos.net/plugins
JKOS_AUTH_PUBLIC_KEY=
SHELL_URL=https://jkos.net
LAZUROS_URL=http://host.docker.internal:8080
LAZUROS_TOKEN=
LAZUROS_DEFAULT_MODEL=llama3.2
